__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
.pytest_cache/
instance/
.venv
env/
venv/
ENV/

# keep run configurations
!.idea
.idea/*
!.idea/runConfigurations

# database files created via docker compose
data

# local environment variables
.env