{% extends "base.html" %}

{% block title %}
	Booking Summary
{% endblock %}

{% block content %}
	<h1>Booking Summary</h1>

	<style>

    /* Style for the logout button */
    .logout-button {
        position: absolute;
        top: 10px; /* Adjust the top position as needed */
        right: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px auto;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    tr:first-child {
      border-bottom: 1px solid #ccc;
    }

    strong {
      font-weight: bold;
    }
	</style>

	<table>
		<tr>
			<th></th>
			<th>Date</th>
			<th>Price</th>
		</tr>
		<tr>
			<td><strong>Outward Flight:</strong></td>
			<td>{{ departure_date }}</td>
			<td>{{ outward_selected_class }}</td>
		</tr>
		<tr>
			<td><strong>Return Flight:</strong></td>
			<td>{{ return_date }}</td>
			<td>{{ return_selected_class }}</td>
		</tr>
		<tr>
			<td><strong>Extra Luggage Outward Flight:</strong></td>
			<td></td>
			<td>{{ outward_extra_luggage }}</td>
		</tr>
		<tr>
			<td><strong>Extra Luggage Return Flight:</strong></td>
			<td></td>
			<td>{{ return_extra_luggage }}</td>
		</tr>
		<tr>
			<td colspan="5" style="border-top: 1px solid #ccc;"></td>
		</tr>
		<tr>
			<td></td>
			<td><strong>Total Price:</strong></td>
			<td>
				${{ (outward_selected_class|replace('$', '')|int) + (return_selected_class|replace('$', '')|int) + (outward_extra_luggage|replace('$', '')|int) + (return_extra_luggage|replace('$', '')|int) }}</td>
		</tr>
	</table>

	<br><br>

	<a href="/check-out" class="btn btn-default" role="button">Continue To Buy</a>
	<br><br>

    <div class="logout-button">
    <a href="/logout">
        <i class="fas fa-arrow-right"></i>
        Logout
    </a>
</div>


{% endblock %}
