{% extends "base.html" %}

{% block title %}Cancellation Requests{% endblock %}

{% block content %}
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px auto;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    tr:first-child {
      border-bottom: 1px solid #ccc;
    }

    strong {
      font-weight: bold;
    }
  </style>
  <div class="cancellation-requests">
   <h1 style="font-weight: bold; font-size: 18px;">Cancellation Request</h1>
   <br> <br>
   <table>
    <tr>
        <th>Passenger</th>
        <th>Ticket ID</th>
        <th>Date</th>
        <th>Flight Code</th>
        <th>Action</th>
    </tr>
    {% for request in requests %}
    <tr>
        <td>{{ request.user_name }}</td>
        <td>{{ request.ticketId }}</td>
        <td>{{ request.ticket_date }}</td>
        <td>{{ request.flightcode }}</td>
        <td>
            <form method="post" action="{{ url_for('accept_request', request_id=request.requestId) }}">
                <button type="submit">Accept</button>
            </form>
            <form method="post" action="{{ url_for('decline_request', request_id=request.requestId) }}">
                <button type="submit">Decline</button>
            </form>
        </td>
    </tr>

      {% endfor %}
   </table>
  </div>
{% endblock %}