{% extends "base.html" %}

{% block title %}Edit Aircraft{% endblock %}

{% block content %}

  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px auto;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    tr:first-child {
      border-bottom: 1px solid #ccc;
    }

    strong {
      font-weight: bold;
    }
  </style>

  <div class="edit-aircraft">
   <h1 style="font-weight: bold; font-size: 18px;">Edit Aircraft</h1>
   <br>
   <table>
    <tr>
     <th style="width: 10%;">Flightcode</th>
     <th style="width: 10%;">Miles</th>
     <th style="width: 10%;">Departure</th>
     <th style="width: 10%;">Destination</th>
     <th style="width: 10%;">Dep. Weekday</th>
     <th style="width: 10%;">Dep. Time</th>
     <th style="width: 10%;">Arr. Time</th>
     <th style="width: 10%;">Aircraft Id</th>
     <th style="width: 10%;">Actions</th>
    </tr>
    <tr>
     <td>FL123</td>
     <td>1000</td>
     <td>New York</td>
     <td>Los Angeles</td>
     <td>Wednesday</td>
     <td>08:00 AM</td>
     <td>12:00 PM</td>
     <td>8</td>
     <td></td>
    </tr>
   </table>
  </div>


  <a href="/employee-home">Employee Home</a>

{% endblock %}