{% extends "base.html" %}

{% block title %}Edit Aircrafts{% endblock %}

{% block content %}

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  tr:first-child {
    border-bottom: 1px solid #ccc;
  }
  strong {
    font-weight: bold;
  }
</style>

<div class="edit-aircrafts">
  <h1 style="font-weight: bold; font-size: 18px;">Edit Aircraft</h1>
  <br>
  <table>
    <tr>
      <th style="width: 10%;">Aircraft ID</th>
      <th style="width: 20%;">Aircraft Model</th>
      <th style="width: 15%;">Aircraft Capacity</th>
      <th style="width: 15%;">First Class Capacity</th>
      <th style="width: 10%;">Actions</th>
    </tr>
    {% for aircraft in aircrafts %}
    <tr>
      <td>{{ aircraft.aircraftId }}</td>
      <td>{{ aircraft.aircraft_model }}</td>
      <td>{{ aircraft.aircraft_capacity }}</td>
      <td>{{ aircraft.aircraft_firstclass }}</td>
      <td><a href="{{ url_for('edit_aircraft', id=aircraft.aircraftId) }}">Edit</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<a href="/employee-home">Employee Home</a>

{% endblock %}
