{% extends "base.html" %}

{% block content %}
<h1>Flight Search</h1>
<form action="/select-flight" method="get">
    <label for="departure">Departure City</label>
    <input class="form-control" type="text" id="departure" name="departure" required>

    <label for="destination">Destination City:</label>
    <input class="form-control" type="text" id="destination" name="destination" required>
    <br><br>

    <label for="departure-date">Departure Date:</label>
    <input class="form-control" type="date" id="departure-date" name="departure_date" required>

    <label for="return-date">Return Date:</label>
    <input class="form-control" type="date" id="return-date" name="return_date" required>
    <br><br>

    <!-- Dropdown-Menü zur Auswahl der Anzahl der Personen -->
    <label for="person-count">Number of Persons:</label>
    <select class="form-control" id="person-count" name="person-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br><br>

    <!-- Add the following dropdowns for departure and destination airports -->
    <label for="departure-airport">Departure Airport:</label>
    <select class="form-control" id="departure-airport" name="departure_airport">
        <option value="" disabled selected>Select an airport</option>
        {% for airport in airports %}
            <option value="{{ airport[0] }}">{{ airport[1] }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="destination-airport">Destination Airport:</label>
    <select class="form-control" id="destination-airport" name="destination_airport">
        <option value="" disabled selected>Select an airport</option>
        {% for airport in airports %}
            <option value="{{ airport[0] }}">{{ airport[1] }}</option>
        {% endfor %}
    </select>
    <br><br>

    <input class="btn btn-default" type="submit" value="Search Flights">
</form>

<br><br>
<a href="/logout">Logout</a>

<script>
  const departureDate = document.getElementById("departure-date");
  const returnDate = document.getElementById("return-date");

  departureDate.min = new Date().toISOString().split('T').at(0)
  returnDate.min = new Date().toISOString().split('T').at(0)

  function updateDates() {
    if (!returnDate.value || !departureDate.value) return

    if (returnDate.value < departureDate.value) {
      const returnDateValue = returnDate.value;
      const departureDateValue = departureDate.value;
      returnDate.value = departureDateValue
      departureDate.value = returnDateValue
    }
  }

  returnDate.addEventListener("change", updateDates);
  departureDate.addEventListener("change", updateDates);
</script>

{% endblock %}
