{% extends "base.html" %}

{% block title %}Flight Search Results{% endblock %}



{% block content %}
	<h1>Flight Search Results</h1>

	<h2>Select {% if direction == None %}Outward{% else %}Return{% endif %} Flight:</h2>

	<form action="/select-flight" method="get">
		{% if direction == None %}
			<input type="hidden" name="direction" value="outward" />
		{% elif direction == "outward" %}
			<input type="hidden" name="direction" value="return" />
		{% endif %}

		<input type="hidden" name="departure" value="{{ departure }}"/>
		<input type="hidden" name="destination" value="{{ destination }}"/>
		<input type="hidden" name="departure_date" value="{{ departure_date }}"/>
		<input type="hidden" name="return_date" value="{{ return_date }}"/>
		<input type="hidden" name="person_count" value="{{ person_count }}"/>

		<style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
      }

      th, td {
        padding: 10px;
        text-align: left;
      }

      tr:first-child {
        border-bottom: 1px solid #ccc;
      }

      strong {
        font-weight: bold;
      }
		</style>

		<table class="table">
			<tr>
				<th></th>
				<th>Departure City</th>
				<th>Destination City</th>
				<th>Departure Time</th>
				<th>Arrival Time</th>
				<th>Economy Price</th>
				<th>Business Price</th>
				<th>First Class Price</th>
				<th>Class</th>
				<th>Extra Luggage</th>
			</tr>

			{% for flight in flights %}
				<tr>
					<td><input type="radio" name="flightcode" value="{{ flight['flightcode'] }}" required pattern = ".{1,}" title = "Please select flight" /></td>
					<td>{{ flight["flight_source"] }}</td>
					<td>{{ flight["flight_destination"] }}</td>
					<td>{{ flight["flight_depTime"] }}</td>
					<td>{{ flight["flight_arrTime"] }}</td>
					{# TODO: input flight price from database  #}
					<td>${{ flight["economy_price"] }}</td>
					<td>${{ flight["business_price"] }}</td>
					<td>
                        {% if flight['aircraft_firstclass'] == "y" %}
                            ${{ flight["firstclass_price"] }}
                        {% else %}
                            not available
                        {% endif %}
                    </td>
					<td>
						<select style="min-width: 140px;" class="form-control" name="selected_class" id="selected-class" required disabled>
							<option value="" disable selected>Select a class</option>
							<option value="${{ flight["economy_price"] }}">Economy: ${{ flight["economy_price"] }}</option>
							<option value="${{ flight["business_price"] }}">Business: ${{ flight["business_price"] }}</option>
							{% if flight["aircraft_firstclass"] == 'y' %}
                                <option value="${{ flight["firstclass_price"] }}">First: ${{ flight["firstclass_price"] }}</option>
						    {% endif  %}
                        </select>
					</td>
					<td>
						<select class="form-control" name="extra_luggage" id="extra-luggage" required disabled>
							{# TODO: input luggage price from database  #}
							<option value="" disable selected>Select Luggage</option>
							{#{% if flight["distance"] == "short" %}#}
                            <option value = "$0">No Extra Luggage</option>
							<option value="${{ flight['luggage_price'] }}">1 x ${{ flight['luggage_price'] }}</option>
							<option value="${{ flight['luggage_price'] * 2 }}">2 x ${{ flight['luggage_price'] }}</option>
							<option value="${{ flight['luggage_price'] * 3 }}">3 x ${{ flight['luggage_price'] }}</option>
							<option value="${{ flight['luggage_price'] * 4 }}">4 x ${{ flight['luggage_price'] }}</option>
							<option value="${{ flight['luggage_price'] * 5 }}">5 x ${{ flight['luggage_price'] }}</option>
							{#{% elif flight["distance"] == "medium" %}#}
							{#{% else flight["distance"] == "long" %}#}
							{#{% endif %}#}
                        required
						</select>
					</td>
				</tr>
			{% endfor %}
		</table>

		<br>
		<input class="btn btn-default" type="submit" value="Select">
	</form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Jinja2 code, call flashed messages with caogories and store them in the 'messages' variable -->
        {% if messages %}
            <ul class="list-group">
                {% for category, message in messages %}
                    <li class="list-group-item {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
	<br><br>
	<a href="/">Back to Home</a>

    <script>
    // Function to enable or disable ticket and luggage selection fields based on flight selection
    function toggleTicketAndLuggageFields() {
        var selectedFlight = document.querySelector('input[name="flightcode"]:checked');
        var ticketSelect = document.getElementById('selected-class');
        var luggageSelect = document.getElementById('extra-luggage');

        if (selectedFlight) {
            ticketSelect.removeAttribute('disabled');
            luggageSelect.removeAttribute('disabled');
        } else {
            ticketSelect.setAttribute('disabled', 'disabled');
            luggageSelect.setAttribute('disabled', 'disabled');
        }
    }

    // Attach the onchange event handler to the radio buttons
    var radioButtons = document.querySelectorAll('input[name="flightcode"]');
    for (var i = 0; i < radioButtons.length; i++) {
        radioButtons[i].addEventListener('change', toggleTicketAndLuggageFields);
    }
</script>

{% endblock %}
