{% extends "base.html" %}

{% block title %}Flight Search Results{% endblock %}



{% block content %}
	<h1>Flight Search Results</h1>

	<h2>Select {% if direction == None %}Outward{% else %}Return{% endif %} Flight:</h2>

	<form action="/select-flight" method="get">
		{% if direction == None %}
			<input type="hidden" name="direction" value="outward"/>
		{% elif direction == "outward" %}
			<input type="hidden" name="direction" value="return"/>
		{% endif %}

		<input type="hidden" name="departure" value="{{ departure }}"/>
		<input type="hidden" name="destination" value="{{ destination }}"/>
		<input type="hidden" name="departure_date" value="{{ departure_date }}"/>
		<input type="hidden" name="return_date" value="{{ return_date }}"/>
		<input type="hidden" name="person_count" value="{{ person_count }}"/>

		<style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
      }

      th, td {
        padding: 10px;
        text-align: left;
      }

      tr:first-child {
        border-bottom: 1px solid #ccc;
      }

      strong {
        font-weight: bold;
      }
		</style>

		<table class="table">
			<tr>
				<th></th>
				<th>Departure City</th>
				<th>Destination City</th>
				<th>Departure Time</th>
				<th>Arrival Time</th>
				<th>Economy Price</th>
				<th>Business Price</th>
				<th>First Class Price</th>
				<th>Class</th>
				<th>Extra Luggage</th>
			</tr>

			{% for flight in flights %}
				<tr>
					<td><input type="radio" name="flightcode" value="{{ flight['flightcode'] }}"/></td>
					<td>{{ flight["flight_source"] }}</td>
					<td>{{ flight["flight_destination"] }}</td>
					<td>{{ flight["flight_depTime"] }}</td>
					<td>{{ flight["flight_arrtime"] }}</td>
					{# TODO: input flight price from database  #}
					<td>${{ flight["flight_economy_price"] }}</td>
					<td>${{ flight["flight_business_price"] }}</td>
					<td>${{ flight["flight_first_class_price"] }}</td>
					<td>
						<select style="min-width: 140px;" class="form-control" name="selected_class" id="selected-class">
							<option>Select a class</option>
							<option value="$300">Economy: ${{ flight["flight_economy_price"] }}</option>
							<option value="$600">Business: ${{ flight["flight_business_price"] }}</option>
							<option value="$1000">First: ${{ flight["flight_first_class_price"] }}</option>
						</select>
					</td>
					<td>
						<select class="form-control" name="extra_luggage" id="extra-luggage">
							{# TODO: input luggage pric from database  #}
							<option value="0">No Extra Luggage</option>
							{#{% if flight["distance"] == "short" %}#}
							<option value="$25">1 x $25</option>
							<option value="$50">2 x $25</option>
							<option value="$75">3 x $25</option>
							<option value="$100">4 x $25</option>
							<option value="$125">5 x $25</option>
							{#{% elif flight["distance"] == "medium" %}#}
							{#{% else flight["distance"] == "long" %}#}
							{#{% endif %}#}

						</select>
					</td>
				</tr>
			{% endfor %}
		</table>

		<br>
		<input class="btn btn-default" type="submit" value="Select">
	</form>

	<br><br>
	<a href="/">Back to Home</a>

{% endblock %}
